__pycache__/
.venv/
.env
.pytest_cache/
*.pyc
*.pyo
*.egg-info/
dist/
build/
alembic.ini
services/http_service/alembic/versions/__pycache__/
.env
.venv/
.uvicorn.pid
src/http_service.egg-info/
__pycache__/
*.pyc
dist/
wheels/
/http_service/
__pycache__/
*.pyc
.venv/
venv/
.env

# IDE
.vscode/
.idea/
